@charset "utf-8";

body{
  background:#a65e35e2;
  font-family:'Ink Free','Bradley Hand','メイリオ','ヒラギノ角ゴ', "ヒラギノ角ゴ　ProN", "Yu Gothic Medium", "游ゴシック", "Yu Gothic",'sans-serif';
  color: #333;
  line-height:1.85;
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-wrap: break-word;
}

@media screen and (max-width:768px) {
body{
font-size:0.8rem;
  width: 100%;
}
}

ul{
margin:0;
padding: 0;
list-style: none;
}

a{
color: #fff;
  outline: none;
}

a:hover,
a:active{
text-decoration: none;
}


.heading-block{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  color: #fff;
  text-align: center;
}

.heading-block h1,
h2{
  font-weight: normal;
  font-size:6vw;
  line-height: 1;
  letter-spacing: 0.05em;
  color: #fff;
}

.heading-block p{
  font-size:1.2vw;
  letter-spacing: 0.5em;
}

@media only screen and (max-width:768px) {
.heading-block h1,
  h2{
  font-size:4em;
  line-height: 1.5;
  }
.heading-block p{
  font-size:1.5em;
  letter-spacing: 0.2em;
  }
}


#sns-icon img{
  width: 20px;
}

#sns-icon{
  position: fixed;
  right:20px;
  top:20px;
  display: flex;
}

#sns-icon li{
   margin:0 10px;   
}

#sns-icon a{
  transition: all .5s;
}

#sns-icon a:hover{
  opacity: 0.7;
}

#footer{
  position:fixed;
  margin-left: auto;
  margin-right:auto;
  text-align:center;
  top:96%;
  color: rgb(255, 255, 255);
  letter-spacing: 0.1em;
  line-height: 1;
  -o-transition: 0.6s ease-in-out;
-moz-transition: 0.6s ease-in-out;
-webkit-transition: 0.6s ease-in-out;
transition: 0.6s ease-in-out;
padding-left: 2%;
}

#footer:hover{
  -webkit-transform : scale(1.2,1.2);
-ms-transform : scale(1.2,1.2);
transform : scale(1.2,1.2);
}

.container {
  width: min(900px, 100%);
  margin: 0 auto;
  padding-top: 7%;
  padding-bottom: 20%;
  padding-left: 7%;
  padding-right: 7%;
}
 
span.pop{
  font-size:0;
  opacity: 0;
  width:auto;
  height:auto;
  overflow-wrap:normal;
  position: absolute;  
}

#pict{
  width: 25%;
  height: 25%;
}

#pict:hover + span.pop{
  z-index: 100;
  background: none repeat scroll 0 0 rgb(0, 0, 0);
  opacity: 0.7;
  color: #ffffff;
  line-height: 1em;
  padding: 1em;
  top: 30%;
  left: 5%;
  font-size:x-small;
  overflow-wrap:break-word;
  transform:translate3d(10px,15px,100px) scale(1.5,1.5);
  transition: 0.4s ease-in-out;
  } 
  
  
  .flex_tbox {
  position: relative;
  display:flex;
  flex-direction:row-reverse;
  justify-content:space-around;
  background-color: rgb(243, 243, 243);
  line-height: auto;
  font-size: 1em;
  margin: 5%;
  }
  
#prof {
  flex-wrap:wrap;  
  text-align: left;
  justify-content:center;
  line-height: 1.6;
  color: #000000;
}

span.pop2 {
  font-size:0;
  opacity: 0;
  width:auto;
  height:auto;
  overflow-wrap:normal;
  position: absolute; 
 }
 
 #cat:hover + span.pop2 {
  z-index: 100;
  background: none repeat scroll 0 0 rgb(0, 0, 0);
  opacity: 0.7;
  color: #ffffff;
  line-height: 1em;
  padding: 1em;
  top: 58%;
  left: 5%;
  width: 100%;
  font-size:x-small;
  overflow-wrap:break-word;
  transform:translate3d(10px,15px,100px) scale(1.5,1.5);
  transition: 0.4s ease-in-out;
} 

span.pop3 {
  font-size:0;
  opacity: 0;
  width:auto;
  height:auto;
  overflow-wrap:normal;
  position: absolute;  
  }

 #shoes:hover + span.pop3 {
  z-index: 100;
  background: none repeat scroll 0 0 rgb(0, 0, 0);
  opacity: 0.7;
  color: #ffffff;
  line-height: 1em;
  padding: 1em;
  top: 58%;
  left: 5%;
  width: 100%;
  font-size:x-small;
  overflow-wrap:break-word;
  transform:translate3d(10px,15px,100px) scale(1.5,1.5);
  transition: 0.4s ease-in-out;
} 

span.pop4 {
  font-size:0;
  opacity: 0;
  width:auto;
  height:auto;
  overflow-wrap:normal;
  position: absolute;  
  }

 #mic:hover + span.pop4 {
  z-index: 100;
  background: none repeat scroll 0 0 rgb(0, 0, 0);
  opacity: 0.7;
  color: #ffffff;
  line-height: 1em;
  padding: 1em;
  top: 58%;
  left: 5%;
  width: 100%;
  font-size:x-small;
  overflow-wrap:break-word;
  transform:translate3d(10px,15px,100px) scale(1.5,1.5);
  transition: 0.4s ease-in-out;
 }

.pict {
  width: 20%;
  margin-left: 5%;
  margin-top: 1%;
}

.pict img {
  width: 70%;
  height:auto;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content:space-between;
  line-height: 2vw;
  padding-left: 2%;
  padding-right: 2%;
  }

h3{
  font-size:1.5em
}

h1{
  font-size:2em;
  animation: poyopoyo 2.5s ease-out infinite;
  opacity: 1;
}
@keyframes poyopoyo {
0%, 20%, 40%, 60%, 80% {
  transform: scale(1.0);
}
50%, 70% {
  transform: scale(0.97);
}
}

.SS{
  padding-left: 3%;
}

.item {
  position: relative;
  float: left;
  padding: calc((100% - 30px) / 36);
  width: calc((100% - 30px * 2) / 4);
  background-color: #fff;
  color: #000000;
  font-size: 1.3vw;
  justify-content:center;
}

@media not all and (min-width: 300px) {
  .item {
    width: 100%;
  }
}

.btnripple3{
  position:fixed;
  z-index:1;
  top: 50%;
  left: 1%;
display:inline-block;
  text-decoration: none;
  color: rgb(255, 255, 255);
  outline: none;
  transform: rotate(0deg);
  -ms-writing-mode: tb-rl;
writing-mode: vertical-rl;
text-orientation: upright;
font-weight:bold ;
margin: 1%;
animation: blinking 1s ease-in-out infinite alternate;
}

@keyframes blinking {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

.btnripple3:hover::before {
  content: '';
  position: absolute;
  left:30%;
  top:0;
  border: 1px solid rgb(255, 255, 255);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  opacity:1;
  animation:1s circleanime2 forwards;
}

@keyframes circleanime2{
0%{
  transform: scale(0);
}
100%{
  transform:scale(2);
  opacity: 0;
}
}

.btnripple3::after {
  content: '';
  position: absolute;
  top: 50%;
  left: -10%;
  width: 10px;
  height: 10px;
  border-top: 3px solid rgb(255, 255, 255);
  border-right: 3px solid rgb(255, 255, 255);
  transform: rotate(225deg);
}
